<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodDatingsite</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
   <form action=/log-in method="post">
    <div class="containerinlog">
       <img class="logotitle" src="img/FoodDatingApp.png" alt="">
        <div class="avatar">

            <img src="img/donut.png" />

        </div>
        <form action="/login" method="post">
            <input name="email" type="email" id="loginEmail" class="input" placeholder="Typ jouw emailadres">
            <input name="wachtwoord" type="password" id="loginWachtwoord" class="input" placeholder="Typ jouw wachtwoord">
        </form>
        
        <button>Log in</button>
        <a href="/registreren">Geen account? Klik hier om te registreren</a>
        <a href="">Wachtwoord vergeten?</a>

    </div>
    </form>
</body>
</html>